{% extends 'base.html' %}
{#{<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">}#}
{#{<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"> </scipt>}#}
{#{<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </scipt>}#}

{% block content %}

    <div class="row">
        <div class="col-md-12">

        <h3>Upload the file with products</h3>

<div class="file-drop-area">
  <span class="choose-file-button">Choose files</span>
  <span class="file-message">or drag and drop files here</span>
  <input class="file-input" type="file" multiple>
</div>
        </div>
    </div>


{% endblock %}